.container {
	border-radius: convertPxToRem(20);
	border: convertPxToRem(30) solid $color-black;
}

.tickWrapper {
	background-color: $color-black;
	opacity: 0.9;
}

.tick {
	letter-spacing: convertPxToRem(10);
	color: $color-white;
	font-size: convertPxToRem(160);
	padding: convertPxToRem(124) convertPxToRem(20);
}
