.mainLayout {
  display: flex;
  flex-direction: column;
  margin-top: convertPxToRem(45);
  min-height: calc(
    100vh - convertPxToRem(59.5) - convertPxToRem(45) - convertPxToRem(57)
  );
  @include media-query(lg) {
    margin-top: convertPxToRem(25);
    min-height: calc(
      100vh - convertPxToRem(49.5) - convertPxToRem(25) - convertPxToRem(57)
    );
  }
}

.childContainer {
  flex: 1;
  background: linear-gradient(
    0deg,
    rgba(227, 242, 253, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-top: convertPxToRem(80);
  padding-bottom: convertPxToRem(40);
  @include media-query(md) {
    padding-top: convertPxToRem(60);
    padding-bottom: convertPxToRem(20);
  }
}

.loader {
  display: block;
  margin: 0 auto;
  & circle {
    cx: 22;
    cy: 22;
    fill: none;
    r: 18;
    stroke: color(blue-900);
    stroke-dasharray: 80;
    stroke-dashoffset: 60;
    stroke-linecap: round;
  }
}
