.inputWrapper {
  display: flex;
  gap: convertPxToRem(10);
  background: color(grey-200);
  border-bottom-left-radius: convertPxToRem(20);
  border-bottom-right-radius: convertPxToRem(20);
  padding: convertPxToRem(20);
}

.textInput {
  border: none;
  width: 100%;
  background: color(transparent);
  margin: 0 !important;
  padding: 0 !important;
  color: color(black);
  font-size: convertPxToRem(14);
  &:focus {
    border: 0;
    outline: 0;
  }
  &::placeholder {
    color: color(grey-600);
  }
}

.saveBtn {
  cursor: pointer;
  white-space: nowrap;
  color: color(blue-900);
}
