.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: convertPxToRem(44);
}

.timerPreset {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  gap: convertPxToRem(24);
  align-items: end;
}
