.container {
  padding: convertPxToRem(20) 0;
  background-color: color(blue-900);

  .navigation {
    margin: 0 auto;
    max-width: $default-max-width;
  }

  ul {
    display: flex;
    gap: convertPxToRem(30);
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    list-style: none;
  }

  @include media-query(lg) {
    padding: convertPxToRem(15) convertPxToRem(20);
  }
}
