.container {
  background-color: color(grey-800);
  color: color(grey-50);
  display: flex;
  gap: convertPxToRem(5);
  justify-content: center;
  padding: convertPxToRem(15) 0;
  text-align: center;
  width: 100%;
  @include media-query(md) {
    flex-direction: column;
  }
}
