.container {
  background: linear-gradient(
    0deg,
    rgba(227, 242, 253, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-top: convertPxToRem(80);
  padding-bottom: convertPxToRem(40);
  width: 100%;
}

.presets {
  display: flex;
  gap: convertPxToRem(80);
  margin: 0 auto;
  max-width: $default-max-width;
}
