.container {
	width: convertPxToRem(250);
	border-radius: convertPxToRem(20);
	border: convertPxToRem(30) solid $color-black;
}

.tickWrapper {
	background-color: $color-black;
	opacity: 0.9;
}

.tick {
	color: $color-white;
	padding: convertPxToRem(50) 0;
	text-align: center;
}
