.container {
  border-radius: convertPxToRem(50);
  border: none;
  cursor: pointer;
  line-height: 0;
  & svg {
    width: 100%;
    height: 100%;
  }
}

.LARGE_SIZE {
  height: convertPxToRem(80);
  width: convertPxToRem(80);
  @include media-query(md) {
    height: convertPxToRem(60);
    width: convertPxToRem(60);
  }
}

.MEDIUM_SIZE {
  height: convertPxToRem(40);
  width: convertPxToRem(40);
  @include media-query(md) {
    height: convertPxToRem(30);
    width: convertPxToRem(30);
  }
}

.PAUSE_BUTTON {
  background-color: color(orange-500);
}

.PLAY_BUTTON {
  background-color: color(green-500);
}

.EDIT_BUTTON {
  background-color: color(blue-grey-400);
}

.DELETE_BUTTON {
  background-color: color(red-500);
}

.RESET_BUTTON {
  background-color: color(red-500);
}

.STOP_BUTTON {
  background-color: color(red-500);
}
