.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-query(md) {
    align-items: stretch;
  }
}

.timerPreset {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: convertPxToRem(24);
  align-items: flex-end;
  @include media-query(md) {
    margin: 0 convertPxToRem(10);
    flex-direction: column;
    align-items: center;
  }
}

.timerControls {
  display: flex;
  flex-direction: column;
  gap: convertPxToRem(20);
  @include media-query(md) {
    flex-direction: row;
  }
}

.stopwatchControls {
  display: flex;
  flex-direction: column;
  gap: convertPxToRem(50);
  @include media-query(md) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: convertPxToRem(5);
  @include media-query(md) {
    flex-direction: row;
    gap: convertPxToRem(20);
  }
}
