.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-query(md) {
    align-items: stretch;
  }
}

.timerPreset {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: convertPxToRem(24);
  align-items: flex-end;

  @include media-query(md) {
    margin: 0 convertPxToRem(20);
    flex-direction: column;
  }
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: convertPxToRem(20);

  @include media-query(md) {
    flex-direction: row;
  }
}
